/*commun à toutes les pages*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@media (prefers-color-scheme: dark) {
    body {
    color: #fefefe;
    background: rgb(59, 58, 58) no-repeat;
    background-image: none;
    }
    a {
    color: #282829;
    }
    img {
    filter: grayscale(70%);
    }
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    cursor:pointer;
    background-image: url(velin.jpg);
    overflow-x: hidden; 
    margin-top: 0;
    
}
body, html {
    height:100%;
    table-layout: fixed;
}

.logo {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px #363B48 solid;
}

.menu {
    font-size: 1em;
    font-family: Courier New;
    display: flex;           /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    justify-content: center;   /* Alignements des liens dans le menu */
}

.menu-active,
.menu-active:active {    
    color: white;   /* Quand le visiteur sélectionne le lien */
    background-color: white;
    border: 3px #363B48 solid;
}

.menu a {

    min-width: 150px;             /* Largeur minimale des liens */   
    color: black;
    margin: 0.5rem;                /* Marges externes */
    padding: 0.7rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    text-decoration: none;        /* Suppression du soulignement */
    border-radius: 4px;           /* Arrondis des bordures */
    border: 3px white ouset;   /*bordure*/
}  

nav,section{
    margin-top: 3em; 
}

hr 
    {color: rgba(102, 95, 95, 0.8);

}

/*FOOTER*/

.footer-basic {
    padding:40px 0;
    background-color:#181414;
    color:#ffffff;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic .list {
    font-size: 30px;
  }
  
  .footer-basic a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    display:inline-block;
    text-align:center;
    border-radius:50%;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:2;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
/*FIN DU FOOTER*/
  
/*Commun à toutes les pages (fin)*/


section {
    margin: auto;
    width: 50%;
    /* Encadré pour voir les limites de la page contact */
    padding: 15em;
    border: 1px solid rgb(19, 19, 19);
    text-align: center;
    }



/*contact des mariés titre*/

.contact_des_mariés {
    position: absolute; /* postulat de départ */
    top: 100%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/*CONTACT DE SEBASTIEN*/

.contact_Sebastien {
    position: relative;
    top: 20em;
    margin-bottom: 20em;
}

/* CONTACT DE JUSTINE */

.contact_Justine { 
    position: relative;
    top: 20em;
    right: 10em;
    margin-bottom: 20em;
}


/*CITATION ENTRE LES DEUX*/

.citation {
    margin-bottom: 5em; 
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1;
    
}

.citation:hover{
    transform:scale(0.8);
}

/*MON CONTACT*/

.contact {
    margin-top: 5em;
    display: inline-block;
}

.contact2 {
    position: relative;
    right: 25em;
    top: 5em;
    width: 35em;
}

/*PETIT FORMULAIRE DE FIN*/

h2 {
    margin-bottom: 1em;
    font-size: 2.5em;
    font-family: 'Shadows Into Light', cursive;
}

form {
    margin-left: 20em;
}

label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    font-family: 'Caveat', cursive;
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
  }
  
input, 
textarea {
    /* Pour que tous les champs texte aient la même dimension */
    width: 100%;
    /* Pour harmoniser le look et bordures des champs texte */
    border: 1px #5d5d5e;
    border: double;
    line-height: 1.5em;
} 
  
textarea {
    /* Pour aligner les champs texte avec leur étiquette */
    vertical-align: top;
    /* Pour donner assez de place pour écrire du texte */
    height: 6em;
}

button {
    margin-top: 3em; 
}
.button_reset {
    margin-left: 3em;
}
.button_envoyer, 
.button_reset {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #303233;
    color: #101111;
}
 
.button_envoyer:hover, .button_envoyer:focus, .button_reset:hover, .button_reset:focus {
    background: #e9e4e4;
    text-shadow: 0 -1px #eee;
}
 
.button_envoyer:active, .button_reset:active {
    background: #bcc1c2;
    text-shadow: 0 -1px #eee;
    border: 1px solid #363634;
}
   
  input:focus {
    background: #eaeaea;
  }



